[Desktop Entry]
Type=Application
Name=EqualizerAPO
GenericName=System-wide Equalizer
Comment=Configure the EqualizerAPO filter chain
Exec=eqapo-editor
Icon=audio-card
Terminal=false
Categories=AudioVideo;Audio;
